# -*-	mode: conf; -*-
custom.el
elpa
auto-save-list
eshell
tramp
abbrev_defs
url
places
ido.last
jabber-otr
quelpa
request
recentf
# backups
*~
\#*\#
# compiled files
*.elc
projectile-bookmarks.eld
*.html
